<html id="fondo">
<nav class="nav navbar-expand navbar-light bg-light">
  <div class="nav navbar-nav">
    <a class="nav-item nav-link active">SISTEMA DE ADMINISTRACIÓN "Información del COVID-19<span class="visually-hidden">(current)</span></a>
    <a class="nav-item nav-link" routerLink="listar-usuario" id="selected">Lista usuarios</a>
    <a class="nav-item nav-link" routerLink="agregar-usuario" id="selected">Agregar usuario</a> 
  </div>
</nav>
<body>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>


</html>